.logo1{
    width: 45%;
    height: 45%;
}
.profile{
    border-radius: 50%;
    width: 60%;
    height: 60%;
    background-color: hsla(0, 0%, 20%, 0.4);
    padding: 10px;
}

div button{
    background-color: hsla(0, 0%, 20%, 0.4);
    border-style: none;
    border-radius: 10px;
    padding: 2.5% 4.5% 2.5% 4.5%;
    font-weight: lighter;
    color: white;
    text-align: center;
    
}


div button:hover {
    background-color: hsla(0, 0%, 100%, 0.5);
    border-style: none;
    color: hsla(0, 0%, 20%, 0.4);
    transform: 0.1s;
  }

  .Home {
    font-size: 16px;
  }
  
 
  @media screen and (max-width: 576px) {
 
    .profile {
        display: none;
      }
    
  }